.header-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
}

.header {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #676767;
    background-color: #EFC454;
    max-height: 100px;
}

body {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 17px;
}

.header-container {
    font-family: 'Roboto';
    font-weight: 300;
}

ul {
    list-style-type: none;
}

.header-nav {
    margin-right: 100px;
}

.header-nav ul {
    display: flex;
    margin-bottom: auto;
    margin-top: auto;
}

.header-nav li + li {
    margin-left: 100px;
}

.header-nav a {
    text-decoration: none;
    color: inherit; 
    transition: color 0.3s ease;
}

.header-nav a:hover {
    color: white;
}

.header-contacts > * + *{
    margin-left: 15px;
    margin-right: auto;
}


