body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: 242121;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    background-color: #242121;
  }
  
::-webkit-scrollbar-thumb {
background-color: rgb(50, 50, 50)
}

.container {
    font-family: 'Roboto';
    font-weight: 300;
}

.home-buttons {
    display: flex;  
    flex-direction: column;
    justify-content: center;
}

.home-buttons :hover {
    background-color: #fff;
    color: #242121;
    transition: 0.4s ease;
    width: 80%
}

.button-login, .button-registration {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #EFC454;
    height: 60px;
    width: 300px;
    color: #242121;
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;    
    transition: opacity 0.2s ease;
    text-decoration: none;
    color: inherit; 
    margin-bottom: 30px;
    transition: 0.4s ease;
}

.button-registration {
    background-color: #FC8A91;
}


.home {
    padding-top: 130px;
    padding-bottom: 175px;
    height: 100vh;
    width: 100%;
    position: relative;
}

.home-content{
    max-width: 440px;
    height: 100%;
}

.home-heading {
    margin-bottom: 30px;
    color: #EFC454;
    font-size: 65px;
}

.home-text {
    color: #fff;
    line-height: 150%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 21px;
}

.home-bg-img {
    background-color: #242121;  
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home-bg-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.title-field {
    background-color: aqua;
}

    /* Utility */

.visually-hidden{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

.none {
    display: none!important;
}

    /* Grid */

.container {
    width: 1400px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.mobile-img {
    display: none;
}

@media (max-width: 700px) {
    .home-bg-img img {
        display: none;
    }

    .mobile-img {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}