body {
  background: url("/static/img/Cover money_box.png");
  background-size: cover;
  color: white;
}

.title_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pig1 {
    position: relative;
    left: 400px;
    width: 400px;
    height: 400px;

}

.buttons {
    position: relative;
    bottom: 150px
}