body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: 242121;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #242121!important;
}

.title {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.change-goal, .logout {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  color: #242121;
  border-radius: 30px;
  transition: 0.2s ease;
}

.change-goal:hover, .logout:hover {
  transition: 0.2 ease;
  height: 60px;
}

.dropdown-toggle {
  color: #242121!important;
  background-color: rgb(200, 200, 200)!important;
  width: 200px!important;
  height: 40px!important;
}

.dropdown-menu {
  background-color: #cea848!important;
}

.dropdown-menu * ~ *{
  margin-top: 10px!important;
}

.dropdown-item {
  background-color: #cea848!important;
  transition: 0.2s ease!important;
  text-align: center!important;
}

.dropdown-item:hover {
  color: #fff!important;
  transition: 0.2s ease!important;
}

.dropdown-menu.show {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  flex-direction: column!important;
}

.btn-primary {
  background-color: transparent!important;
  border-color: transparent!important;
  color: #242121!important;
  text-align: center!important;
  transition: 0.2s ease!important;
}

.btn-primary:hover {
  color: #fff!important;
  transition: 0.2s ease!important;
}

.container {
  justify-content: center;
  font-family: 'Roboto';
  font-weight: 300;
  width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px; 
}

.container input {
  margin: auto;
  margin-top: 25px  ;
}

.btn-outline-primary {
  background-color: #EFC454!important;
  background: linear-gradient(to bottom, #f0cb6d, #EFC454);
  border-color: #000!important;
  color: #242121!important;
  font-family: 'Roboto', sans-serif!important;
  font-weight: 400!important;

}

.btn-outline-primary[disabled] {
  background: #292929!important;
  color: #FC8A91!important;
  border-color: #FC8A91!important;
}

.btn-outline-primary:active, .btn-outline-primary:focus {
  box-shadow: none!important;
  color: #FC8A91 !important;
  background-color: #FC8A91 !important;
  border-color: #FC8A91 !important;
}

.btn-outline-primary:hover {
  transition: 0.5!important;
  background: #EFC454!important;
}

.popup {
  width: 1000px;
  height: 600px;
  text-align: center;
  padding: 15px;
  border: 3px solid #0000cc;
  border-radius: 10px;
  color: #0000cc;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: white;
  font-size: 36px;
}

.popup_buttons {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 7%;
}

.popup_text {
  position: absolute;
  right: 0;
  left: 0;
  top: 7%;
}

.flash_message {
  position: absolute;
  right: 0;
  left: 0;
  top: 120%;
  font-size: 25px;
  color: red;
}

.money-box-bg-img {
  background-color: #242121;  
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.money-box-bg-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

h1, h2 {
  text-shadow: 4px 3px #efc35441;
}

.progress {
  margin-top: 30px;
}

.modal-content {
  background-color: rgb(150, 150, 150)!important;
  font-family: 'Roboto', sans-serif!important;
  font-weight: 400!important;
  color: #242121!important;
}

.modal-body {
  border-width: 0px!important;
}

.modal_submit_button input {
  background-color: #FC8A91;
  border-radius: 5px;
  border-width: 0px;
  height: 35px;
  width: 150px;
  transition: 0.4s ease;
}

.modal_submit_button input:hover{
  background-color: #fff!important;
  transition: 0,4s ease!important;
}

.modal-body input {
  transition: 0.4s ease!important;
  background-color: #f0f0f0!important;
  border-width: 0px;  
}

.modal-body input:hover {
  transition: 0.4s ease!important;
  background-color: #fff!important;
}

.btn.btn-secondary {
  background-color: #EFC454!important;
  color: #242121 !important;
  border-width: 0px!important;
  transition: 0.3s ease!important;
}

.btn.btn-secondary:hover {
  background-color: #fadf9a!important;
  transition: 0.3s ease!important;
}

.btn-close {
  color: #242121!important;
}

@media (max-width: 700px) {
  .title {
      flex-direction: column;
  }

  .dropdown-menu {
    margin-top: 20px!important;
  }

}