<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link
      rel="stylesheet"
      href="/static/css/header.css"
    />
</head>
<body>
<header>
      <div>
        <div class="header">
          <div class="header-container">
            <div class="header-row">
              <a class="header-log" href="/"><img src="/static/img/logo.png" alt="logo"></a>
              <nav class="header-nav">
                <ul>
                  <li><a href="#">Инструкция</a></li>
                  <li><a href="#">О проекте</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
</body>
</html>