<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Money Box</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main_page.css') }}"
    />
  </head>
  <body>
    <div><img class="title_image" src="/static/img/Money_box_title.png" alt="Money Box"></div>
    <div class="title_text">
    <p align="center">
      Копилка помогает накопить нужную сумму за 100 дней
      <br />
      Правила копилки:
      <br />
      Сумма для накопления разбивается на 100 дней с одинаковой разницей между
      двумя днями
      <br />
      Например: Если необходимо накопить 50 000 рублей, тогда в первый день
      необходимо будет отложить 100 рублей,
      <br />
      Во второй день 200 рублей, в третий день 300 рублей и тд.
      <br />
      При этом погашать дни можно в любом порядке.
    </div>
    <p align="center">
      <a class="buttons" href="{{ url_for('registration_page') }}">Хочу накопить деньги!</a>
      <img class="pig1" src="/static/img/Pig_1.png">
        <br>
      <a class="buttons" href="{{ url_for('login_page') }}">Уже коплю деньги</a>
      <a href="{{ url_for('info_page') }}">Подробнее о проекте</a>
    </p>
  <div>
  </div>
  </body>
</html>
