<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link
    rel="stylesheet"
    href="/static/css/header.css"
  />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Копилка</title>
    <link rel="stylesheet" href="/static/css/money_box.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <style>
            .overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            display: block;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,.75);
            {% if display == False %}
            display: none
            {% endif %}
      }
    </style>
  </head>
  <body>
    {% include 'header.html' %}
    <form method="post">
      <div class="overlay">
        <div class="popup">
          <div class="popup_text">
            Привет! <br />Напиши сумму, которую хочешь накопить
            <div class="flash_message">
              {% with messages = get_flashed_messages() %} {% if messages %} {%
              for message in messages %} {{ message }} {% endfor %} {% endif %}
              {% endwith %}
            </div>
          </div>
          <div class="popup_buttons">
            <div class="goal_target">
              <input type="text" name="goal_target" />
            </div>
            <br />
            <div class="submit_button"><input type="submit" /></div>
          </div>
        </div>
      </div>
        <main>
    </form>
    <div class="title">
      <div class="change-goal">
      </div>
      <div class="progress-text">
      <h1 align="center">Твоя копилка</h1>
      <h2 align="center">Цель: {{ current_goal }}</h2>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Управление
      </button>
      <ul class="dropdown-menu">
        <li><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Изменить цель</button></li>
        <li><a class="dropdown-item" href="#">История</a></li>
        <li><a class="dropdown-item" href="#">Telegram бот</a></li>
        <li><a class="dropdown-item" href="#">Выйти</a></li>
      </ul>
    </div>
  </div>
      <div class="progress" style="height: 30px">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: {{ progress_percent }}%; background-color: #EFC454"
          aria-valuenow="{{ current_sum }}"
          aria-valuemin="0"
          aria-valuemax="{{ total_goal }}"
        >
          {{ current_sum }}
        </div>
      </div>
    </div>
    <!-- Модальное окно -->
    <form method="post">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Новая цель накопления</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <div class="goal_target">
              <input type="text" name="new_goal_target">
            </div>
          </div>
          <div class="modal-footer">
            <div class="modal_submit_button"><input type="submit" value="Изменить"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
    <form method="post">
      <div class="container">
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_1_instance %}
              disabled {% endif %} value="{{ day_1_goal }}" name="day_1_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_2_instance %}
              disabled {% endif %} value="{{ day_2_goal }}" name="day_2_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_3_instance %} 
              disabled {% endif %} value="{{ day_3_goal }}" name="day_3_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_4_instance %}
              disabled {% endif %} value="{{ day_4_goal }}" name="day_4_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_5_instance %}
              disabled {% endif %} value="{{ day_5_goal }}" name="day_5_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_6_instance %}
              disabled {% endif %} value="{{ day_6_goal }}" name="day_6_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_7_instance %}
              disabled {% endif %} value="{{ day_7_goal }}" name="day_7_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_8_instance %}
              disabled {% endif %} value="{{ day_8_goal }}" name="day_8_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_9_instance %}
              disabled {% endif %} value="{{ day_9_goal }}" name="day_9_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_10_instance %}
              disabled {% endif %} value="{{ day_10_goal }}" name="day_10_button">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_11_instance %}
              disabled {% endif %} value="{{ day_11_goal }}" name="day_11_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_12_instance %}
              disabled {% endif %} value="{{ day_12_goal }}" name="day_12_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_13_instance %}
              disabled {% endif %} value="{{ day_13_goal }}" name="day_13_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_14_instance %}
              disabled {% endif %} value="{{ day_14_goal }}" name="day_14_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_15_instance %}
              disabled {% endif %} value="{{ day_15_goal }}" name="day_15_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_16_instance %}
              disabled {% endif %} value="{{ day_16_goal }}" name="day_16_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_17_instance %}
              disabled {% endif %} value="{{ day_17_goal }}" name="day_17_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_18_instance %}
              disabled {% endif %} value="{{ day_18_goal }}" name="day_18_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_19_instance %}
              disabled {% endif %} value="{{ day_19_goal }}" name="day_19_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_20_instance %}
              disabled {% endif %} value="{{ day_20_goal }}" name="day_20_button">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_21_instance %}
              disabled {% endif %} value="{{ day_21_goal }}" name="day_21_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_22_instance %}
              disabled {% endif %} value="{{ day_22_goal }}" name="day_22_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_23_instance %}
              disabled {% endif %} value="{{ day_23_goal }}" name="day_23_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_24_instance %}
              disabled {% endif %} value="{{ day_24_goal }}" name="day_24_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_25_instance %}
              disabled {% endif %} value="{{ day_25_goal }}" name="day_25_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_26_instance %}
              disabled {% endif %} value="{{ day_26_goal }}" name="day_26_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_27_instance %}
              disabled {% endif %} value="{{ day_27_goal }}" name="day_27_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_28_instance %}
              disabled {% endif %} value="{{ day_28_goal }}" name="day_28_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_29_instance %}
              disabled {% endif %} value="{{ day_29_goal }}" name="day_29_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_30_instance %}
              disabled {% endif %} value="{{ day_30_goal }}" name="day_30_button">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_31_instance %}
              disabled {% endif %} value="{{ day_31_goal }}" name="day_31_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_32_instance %}
              disabled {% endif %} value="{{ day_32_goal }}" name="day_32_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_33_instance %}
              disabled {% endif %} value="{{ day_33_goal }}" name="day_33_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_34_instance %}
              disabled {% endif %} value="{{ day_34_goal }}" name="day_34_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_35_instance %}
              disabled {% endif %} value="{{ day_35_goal }}" name="day_35_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_36_instance %}
              disabled {% endif %} value="{{ day_36_goal }}" name="day_36_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_37_instance %}
              disabled {% endif %} value="{{ day_37_goal }}" name="day_37_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_38_instance %}
              disabled {% endif %} value="{{ day_38_goal }}" name="day_38_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_39_instance %}
              disabled {% endif %} value="{{ day_39_goal }}" name="day_39_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_40_instance %}
              disabled {% endif %} value="{{ day_40_goal }}" name="day_40_button">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_41_instance %}
              disabled {% endif %} value="{{ day_41_goal }}" name="day_41_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_42_instance %}
              disabled {% endif %} value="{{ day_42_goal }}" name="day_42_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_43_instance %}
              disabled {% endif %} value="{{ day_43_goal }}" name="day_43_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_44_instance %}
              disabled {% endif %} value="{{ day_44_goal }}" name="day_44_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_45_instance %}
              disabled {% endif %} value="{{ day_45_goal }}" name="day_45_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_46_instance %}
              disabled {% endif %} value="{{ day_46_goal }}" name="day_46_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_47_instance %}
              disabled {% endif %} value="{{ day_47_goal }}" name="day_47_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_48_instance %}
              disabled {% endif %} value="{{ day_48_goal }}" name="day_48_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_49_instance %}
              disabled {% endif %} value="{{ day_49_goal }}" name="day_49_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_50_instance %}
              disabled {% endif %} value="{{ day_50_goal }}" name="day_50_button">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_51_instance %}
              disabled {% endif %} value="{{ day_51_goal }}" name="day_51_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_52_instance %}
              disabled {% endif %} value="{{ day_52_goal }}" name="day_52_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_53_instance %}
              disabled {% endif %} value="{{ day_53_goal }}" name="day_53_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_54_instance %}
              disabled {% endif %} value="{{ day_54_goal }}" name="day_54_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_55_instance %}
              disabled {% endif %} value="{{ day_55_goal }}" name="day_55_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_56_instance %}
              disabled {% endif %} value="{{ day_56_goal }}" name="day_56_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_57_instance %}
              disabled {% endif %} value="{{ day_57_goal }}" name="day_57_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_58_instance %}
              disabled {% endif %} value="{{ day_58_goal }}" name="day_58_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_59_instance %}
              disabled {% endif %} value="{{ day_59_goal }}" name="day_59_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_60_instance %}
              disabled {% endif %} value="{{ day_60_goal }}" name="day_60_button">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_61_instance %}
              disabled {% endif %} value="{{ day_61_goal }}" name="day_61_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_62_instance %}
              disabled {% endif %} value="{{ day_62_goal }}" name="day_62_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_63_instance %}
              disabled {% endif %} value="{{ day_63_goal }}" name="day_63_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_64_instance %}
              disabled {% endif %} value="{{ day_64_goal }}" name="day_64_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_65_instance %}
              disabled {% endif %} value="{{ day_65_goal }}" name="day_65_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_66_instance %}
              disabled {% endif %} value="{{ day_66_goal }}" name="day_66_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_67_instance %}
              disabled {% endif %} value="{{ day_67_goal }}" name="day_67_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_68_instance %}
              disabled {% endif %} value="{{ day_68_goal }}" name="day_68_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_69_instance %}
              disabled {% endif %} value="{{ day_69_goal }}" name="day_69_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_70_instance %}
              disabled {% endif %} value="{{ day_70_goal }}" name="day_70_button">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_71_instance %}
              disabled {% endif %} value="{{ day_71_goal }}" name="day_71_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_72_instance %}
              disabled {% endif %} value="{{ day_72_goal }}" name="day_72_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_73_instance %}
              disabled {% endif %} value="{{ day_73_goal }}" name="day_73_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_74_instance %}
              disabled {% endif %} value="{{ day_74_goal }}" name="day_74_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_75_instance %}
              disabled {% endif %} value="{{ day_75_goal }}" name="day_75_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_76_instance %}
              disabled {% endif %} value="{{ day_76_goal }}" name="day_76_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_77_instance %}
              disabled {% endif %} value="{{ day_77_goal }}" name="day_77_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_78_instance %}
              disabled {% endif %} value="{{ day_78_goal }}" name="day_78_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_79_instance %}
              disabled {% endif %} value="{{ day_79_goal }}" name="day_79_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_80_instance %}
              disabled {% endif %} value="{{ day_80_goal }}" name="day_80_button">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_81_instance %}
              disabled {% endif %} value="{{ day_81_goal }}" name="day_81_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_82_instance %}
              disabled {% endif %} value="{{ day_82_goal }}" name="day_82_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_83_instance %}
              disabled {% endif %} value="{{ day_83_goal }}" name="day_83_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_84_instance %}
              disabled {% endif %} value="{{ day_84_goal }}" name="day_84_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_85_instance %}
              disabled {% endif %} value="{{ day_85_goal }}" name="day_85_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_86_instance %}
              disabled {% endif %} value="{{ day_86_goal }}" name="day_86_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_87_instance %}
              disabled {% endif %} value="{{ day_87_goal }}" name="day_87_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_88_instance %}
              disabled {% endif %} value="{{ day_88_goal }}" name="day_88_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_89_instance %}
              disabled {% endif %} value="{{ day_89_goal }}" name="day_89_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_90_instance %}
              disabled {% endif %} value="{{ day_90_goal }}" name="day_90_button">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_91_instance %}
              disabled {% endif %} value="{{ day_91_goal }}" name="day_91_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_92_instance %}
              disabled {% endif %} value="{{ day_92_goal }}" name="day_92_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_93_instance %}
              disabled {% endif %} value="{{ day_93_goal }}" name="day_93_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_94_instance %}
              disabled {% endif %} value="{{ day_94_goal }}" name="day_94_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_95_instance %}
              disabled {% endif %} value="{{ day_95_goal }}" name="day_95_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_96_instance %}
              disabled {% endif %} value="{{ day_96_goal }}" name="day_96_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_97_instance %}
              disabled {% endif %} value="{{ day_97_goal }}" name="day_97_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_98_instance %}
              disabled {% endif %} value="{{ day_98_goal }}" name="day_98_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_99_instance %}
              disabled {% endif %} value="{{ day_99_goal }}" name="day_99_button">
            </div>
            <div class="col">
              <input type="submit" class="btn btn-outline-primary btn-lg" {% if day_100_instance %}
              disabled {% endif %} value="{{ day_100_goal }}" name="day_100_button">
            </div>
          </div>
        </div>
      </div>
    </form>
    </main>
    {% include 'footer.html' %}
  </body>
</html>
