<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Копилка</title>
    <link rel="stylesheet" href="/static/css/money_box.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <style>
            .overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            display: block;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,.75);
            {% if display == False %}
            display: none
            {% endif %}
      }
    </style>
  </head>
  <body>
    <form method="post">
      <div class="overlay">
        <div class="popup">
          <div class="popup_text">
            Привет! <br />Для того, чтобы начать копить деньги, <br />
            тебе необходимо написать сумму, <br />
            которую хочешь накопить
            <div class="flash_message">
              {% with messages = get_flashed_messages() %} {% if messages %} {%
              for message in messages %} {{ message }} {% endfor %} {% endif %}
              {% endwith %}
            </div>
          </div>
          <div class="popup_buttons">
            <div class="goal_target">
              <input type="text" name="goal_target" />
            </div>
            <br />
            <div class="submit_button"><input type="submit" /></div>
          </div>
        </div>
      </div>
    </form>
    <header class="header">
      <h1 align="center">Твоя копилка</h1>
      <h2 align="center">Тебе удалось накопить:</h2>
      <div class="progress" style="height: 30px">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 50%"
          aria-valuenow="50000"
          aria-valuemin="0"
          aria-valuemax="100000"
        >
          50000
        </div>
      </div>
    </header>
    <br />
    <div class="container">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_1_instance %}
          disabled {% endif %}>
            {{ day_1_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_2_instance %}
          disabled {% endif %}>
            {{ day_2_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_3_instance %}
          disabled {% endif %}>
            {{ day_3_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_4_instance %}
          disabled {% endif %}>
            {{ day_4_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_5_instance %}
          disabled {% endif %}>
            {{ day_5_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_6_instance %}
          disabled {% endif %}>
            {{ day_6_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_6_instance %}
          disabled {% endif %}>
            {{ day_6_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_7_instance %}
          disabled {% endif %}>
            {{ day_7_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_8_instance %}
          disabled {% endif %}>
            {{ day_8_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_9_instance %}
          disabled {% endif %}>
            {{ day_9_goal }}
          </button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_10_instance %}
          disabled {% endif %}>
            {{ day_10_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_11_instance %}
          disabled {% endif %}>
            {{ day_11_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_12_instance %}
          disabled {% endif %}>
            {{ day_12_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_13_instance %}
          disabled {% endif %}>
            {{ day_13_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_14_instance %}
          disabled {% endif %}>
            {{ day_14_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_15_instance %}
          disabled {% endif %}>
            {{ day_15_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_16_instance %}
          disabled {% endif %}>
            {{ day_16_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_17_instance %}
          disabled {% endif %}>
            {{ day_17_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_18_instance %}
          disabled {% endif %}>
            {{ day_18_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_19_instance %}
          disabled {% endif %}>
            {{ day_19_goal }}
          </button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_20_instance %}
          disabled {% endif %}>
            {{ day_20_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_21_instance %}
          disabled {% endif %}>
            {{ day_21_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_22_instance %}
          disabled {% endif %}>
            {{ day_22_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_23_instance %}
          disabled {% endif %}>
            {{ day_23_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_24_instance %}
          disabled {% endif %}>
            {{ day_24_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_25_instance %}
          disabled {% endif %}>
            {{ day_25_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if not day_26_instance %}
          disabled {% endif %}>
            {{ day_26_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_27_instance %}
          disabled {% endif %}>
            {{ day_27_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_28_instance %}
          disabled {% endif %}>
            {{ day_28_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_29_instance %}
          disabled {% endif %}>
            {{ day_29_goal }}
          </button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_30_instance %}
          disabled {% endif %}>
            {{ day_30_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_31_instance %}
          disabled {% endif %}>
            {{ day_31_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_32_instance %}
          disabled {% endif %}>
            {{ day_32_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_33_instance %}
          disabled {% endif %}>
            {{ day_33_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_34_instance %}
          disabled {% endif %}>
            {{ day_34_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_35_instance %}
          disabled {% endif %}>
            {{ day_35_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_36_instance %}
          disabled {% endif %}>
            {{ day_36_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_37_instance %}
          disabled {% endif %}>
            {{ day_37_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_38_instance %}
          disabled {% endif %}>
            {{ day_38_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_39_instance %}
          disabled {% endif %}>
            {{ day_39_goal }}
          </button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_40_instance %}
          disabled {% endif %}>
            {{ day_40_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_41_instance %}
          disabled {% endif %}>
            {{ day_41_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_42_instance %}
          disabled {% endif %}>
            {{ day_42_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_43_instance %}
          disabled {% endif %}>
            {{ day_43_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_44_instance %}
          disabled {% endif %}>
            {{ day_44_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_45_instance %}
          disabled {% endif %}>
            {{ day_45_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_46_instance %}
          disabled {% endif %}>
            {{ day_46_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_47_instance %}
          disabled {% endif %}>
            {{ day_47_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_48_instance %}
          disabled {% endif %}>
            {{ day_48_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_49_instance %}
          disabled {% endif %}>
            {{ day_49_goal }}
          </button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_50_instance %}
          disabled {% endif %}>
            {{ day_50_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_51_instance %}
          disabled {% endif %}>
            {{ day_51_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_52_instance %}
          disabled {% endif %}>
            {{ day_52_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_53_instance %}
          disabled {% endif %}>
            {{ day_53_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_54_instance %}
          disabled {% endif %}>
            {{ day_54_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_55_instance %}
          disabled {% endif %}>
            {{ day_55_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_56_instance %}
          disabled {% endif %}>
            {{ day_56_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_57_instance %}
          disabled {% endif %}>
            {{ day_57_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_58_instance %}
          disabled {% endif %}>
            {{ day_58_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_59_instance %}
          disabled {% endif %}>
            {{ day_59_goal }}
          </button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_60_instance %}
          disabled {% endif %}>
            {{ day_60_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_61_instance %}
          disabled {% endif %}>
            {{ day_61_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_62_instance %}
          disabled {% endif %}>
            {{ day_62_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_63_instance %}
          disabled {% endif %}>
            {{ day_63_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_64_instance %}
          disabled {% endif %}>
            {{ day_64_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_65_instance %}
          disabled {% endif %}>
            {{ day_65_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_66_instance %}
          disabled {% endif %}>
            {{ day_66_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_67_instance %}
          disabled {% endif %}>
            {{ day_67_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_68_instance %}
          disabled {% endif %}>
            {{ day_68_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_69_instance %}
          disabled {% endif %}>
            {{ day_69_goal }}
          </button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_70_instance %}
          disabled {% endif %}>
            {{ day_70_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_71_instance %}
          disabled {% endif %}>
            {{ day_71_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_72_instance %}
          disabled {% endif %}>
            {{ day_72_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_73_instance %}
          disabled {% endif %}>
            {{ day_73_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_74_instance %}
          disabled {% endif %}>
            {{ day_75_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_76_instance %}
          disabled {% endif %}>
            {{ day_76_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_77_instance %}
          disabled {% endif %}>
            {{ day_77_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_78_instance %}
          disabled {% endif %}>
            {{ day_78_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_79_instance %}
          disabled {% endif %}>
            {{ day_79_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_80_instance %}
          disabled {% endif %}>
            {{ day_80_goal }}
          </button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_81_instance %}
          disabled {% endif %}>
            {{ day_81_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_82_instance %}
          disabled {% endif %}>
            {{ day_82_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_83_instance %}
          disabled {% endif %}>
            {{ day_83_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_84_instance %}
          disabled {% endif %}>
            {{ day_84_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_85_instance %}
          disabled {% endif %}>
            {{ day_85_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_86_instance %}
          disabled {% endif %}>
            {{ day_86_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_87_instance %}
          disabled {% endif %}>
            {{ day_87_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_88_instance %}
          disabled {% endif %}>
            {{ day_88_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_89_instance %}
          disabled {% endif %}>
            {{ day_89_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_90_instance %}
          disabled {% endif %}>
            {{ day_90_goal }}
          </button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_91_instance %}
          disabled {% endif %}>
            {{ day_91_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_92_instance %}
          disabled {% endif %}>
            {{ day_92_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_93_instance %}
          disabled {% endif %}>
            {{ day_93_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_94_instance %}
          disabled {% endif %}>
            {{ day_94_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_95_instance %}
          disabled {% endif %}>
            {{ day_95_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_96_instance %}
          disabled {% endif %}>
            {{ day_96_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_97_instance %}
          disabled {% endif %}>
            {{ day_97_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_98_instance %}
          disabled {% endif %}>
            {{ day_98_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_99_instance %}
          disabled {% endif %}>
            {{ day_99_goal }}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg" {% if day_100_instance %}
          disabled {% endif %}>
            {{ day_100_goal }}
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
