<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Page title</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="header">
      <h1 align="center">КопилОЧКА</h1>
      <h2 align="center">Тебе удалось накопить:</h2>
      <div class="progress" style="height: 30px">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 50%"
          aria-valuenow="50000"
          aria-valuemin="0"
          aria-valuemax="100000"
        >50000</div>
      </div>
    </header>
    <br />
    <div class="container">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">20</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">40</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">60</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">80</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">100</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">120</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">140</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">160</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">180</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">200</button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">220</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">240</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">260</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">280</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">300</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">320</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">340</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">360</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">380</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">400</button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">420</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">440</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">460</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">480</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">500</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">520</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">540</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">560</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">580</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">600</button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">620</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">640</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">660</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">680</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">700</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">720</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">740</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">760</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">780</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">800</button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">820</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">840</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary v">860</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">880</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">900</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">920</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">940</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">960</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">980</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1000</button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1020</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1040</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1060</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1080</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1100</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1120</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1140</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1160</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1180</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1200</button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1220</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1240</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1260</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1280</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1300</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1320</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1340</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1360</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1380</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1400</button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1420</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1440</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1460</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1480</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1500</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1520</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1540</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1560</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1580</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1600</button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1620</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1640</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1660</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1680</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1700</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1720</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1740</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1760</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1780</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1800</button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1820</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1840</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1860</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1880</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1900</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1920</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1940</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1960</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">1980</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg">2000</button>
        </div>
      </div>
    </div>
  </body>
</html>
